# macOS-specific files
.DS_Store
.Trashes
*.swp

# Python-specific files
__pycache__/
*.pyc
*.pyo
env/
venv/
.conda/

# Common IDE/editor files
.idea/
.vscode/
*.project
*.pydevproject

# Other potential files to ignore
*.log
.mypy_cache/

# Environment-specific files
.env
.env.local
.env.*.local
compose.env

# Dataset files
data/datasets/*